@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* Swiper navigation buttons */
.swiper
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* Tailwind blue-600 */
  width: 1.5rem;
  height: 1.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.75rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #1d4ed8; /* Tailwind blue-700 */
}

/* Swiper pagination bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #007bff; /* Active dot color (blue) */
  transform: scale(1.3);
}

/* Move dots slightly upward inside the image area */
.swiper-pagination {
  bottom: 8px !important;
}

/* --- Lazy loading styles --- */
.swiper-lazy {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.swiper-lazy-loaded {
  opacity: 1;
}

.swiper-lazy-preloader {
  width: 30px;
  height: 30px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-top-color: #007bff; /* Tailwind blue-600 */
  border-radius: 50%;
  animation: swiper-preloader-spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes swiper-preloader-spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100px); 
  }
  to {
    opacity: 1;
    transform: translateX(0); /* In position */
  }
}

@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

/* Animate in and then out automatically */
.animate-slide-in-out {
  animation: slide-in-right 0.4s ease-out, slide-out-right 0.4s ease-in 3.6s;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  40% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.3s ease-out forwards;
}