@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* Tailwind blue-600 */
  width: 1.5rem;
  height: 1.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.75rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #1d4ed8; /* Tailwind blue-700 */
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #007bff; /* Active dot color (blue) */
  transform: scale(1.3);
}

/* Move dots slightly upward inside the image area */
.swiper-pagination {
  bottom: 8px !important;
}